@use '../../mixins/interactive' as interactive;
@use '../../tokens/standards' as *;

// Colors for different states
$primary-color: var(--pcs-color-primary);
$secondary-color: var(--pcs-color-secondary);
$error-color: var(--pcs-color-error);
$warning-color: var(--pcs-color-warning);
$info-color: var(--pcs-color-info);
$success-color: var(--pcs-color-success);

// Light theme colors (defaults)
$text-primary-light: var(--pcs-text-primary-light);
$text-secondary-light: var(--pcs-text-secondary-light);
$text-disabled-light: var(--pcs-text-disabled-light);
$hover-bg-light: var(--pcs-hover-bg-light);

// Dark theme colors
$text-primary-dark: var(--pcs-text-primary-dark);
$text-secondary-dark: var(--pcs-text-secondary-dark);
$text-disabled-dark: var(--pcs-text-disabled-dark);
$hover-bg-dark: var(--pcs-hover-bg-dark);

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  
  &-disabled {
    cursor: default;
    opacity: 0.6;
  }
  
  // Label placements
  &-label-end {
    flex-direction: row;
  }
  
  &-label-start {
    flex-direction: row-reverse;
  }
  
  &-label-top {
    flex-direction: column-reverse;
  }
  
  &-label-bottom {
    flex-direction: column;
  }
}

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 42px;
  height: 42px;
  padding: 9px;
  border-radius: 50%;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover {
    background-color: $hover-bg-light;
  }
  
  .checkbox-disabled & {
    &:hover {
      background-color: transparent;
    }
  }
}

// Dark theme overrides
@include interactive.dark-mode {
  .checkbox-wrapper:hover {
    background-color: $hover-bg-dark;
  }
}

.checkbox-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  z-index: 1;
  
  &:focus-visible ~ .checkbox-icon {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: $text-secondary-light;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .checkbox-disabled & {
    color: $text-disabled-light;
  }
}

// Dark theme overrides
@include interactive.dark-mode {
  .checkbox-icon {
    color: $text-secondary-dark;

    .checkbox-disabled & {
      color: $text-disabled-dark;
    }
  }
}

// Checked and indeterminate states
.checkbox-input:checked ~ .checkbox-icon,
.checkbox-input:indeterminate ~ .checkbox-icon {
  color: $primary-color;
}

// Color variants
.checkbox-color-primary {
  .checkbox-input:checked ~ .checkbox-icon,
  .checkbox-input:indeterminate ~ .checkbox-icon {
    color: $primary-color;
  }
  
  .checkbox-wrapper:hover {
    background-color: var(--pcs-primary-opacity-04);
  }
}

@include interactive.dark-mode {
  .checkbox-color-primary .checkbox-wrapper:hover {
    background-color: var(--pcs-primary-opacity-08);
  }
}

.checkbox-color-secondary {
  .checkbox-input:checked ~ .checkbox-icon,
  .checkbox-input:indeterminate ~ .checkbox-icon {
    color: $secondary-color;
  }
  
  .checkbox-wrapper:hover {
    background-color: var(--pcs-secondary-opacity-04);
  }
}

@include interactive.dark-mode {
  .checkbox-color-secondary .checkbox-wrapper:hover {
    background-color: var(--pcs-secondary-opacity-08);
  }
}

.checkbox-color-error {
  .checkbox-input:checked ~ .checkbox-icon,
  .checkbox-input:indeterminate ~ .checkbox-icon {
    color: $error-color;
  }
  
  .checkbox-wrapper:hover {
    background-color: var(--pcs-error-opacity-04);
  }
}

@include interactive.dark-mode {
  .checkbox-color-error .checkbox-wrapper:hover {
    background-color: var(--pcs-error-opacity-08);
  }
}

.checkbox-color-warning {
  .checkbox-input:checked ~ .checkbox-icon,
  .checkbox-input:indeterminate ~ .checkbox-icon {
    color: $warning-color;
  }
  
  .checkbox-wrapper:hover {
    background-color: var(--pcs-warning-opacity-04);
  }
}

@include interactive.dark-mode {
  .checkbox-color-warning .checkbox-wrapper:hover {
    background-color: var(--pcs-warning-opacity-08);
  }
}

.checkbox-color-info {
  .checkbox-input:checked ~ .checkbox-icon,
  .checkbox-input:indeterminate ~ .checkbox-icon {
    color: $info-color;
  }
  
  .checkbox-wrapper:hover {
    background-color: var(--pcs-info-opacity-04);
  }
}

@include interactive.dark-mode {
  .checkbox-color-info .checkbox-wrapper:hover {
    background-color: var(--pcs-info-opacity-08);
  }
}

.checkbox-color-success {
  .checkbox-input:checked ~ .checkbox-icon,
  .checkbox-input:indeterminate ~ .checkbox-icon {
    color: $success-color;
  }
  
  .checkbox-wrapper:hover {
    background-color: var(--pcs-success-opacity-04);
  }
}

@include interactive.dark-mode {
  .checkbox-color-success .checkbox-wrapper:hover {
    background-color: var(--pcs-success-opacity-08);
  }
}

// Sizes
.checkbox-size-small {
  .checkbox-wrapper {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
  
  .checkbox-icon {
    width: 20px;
    height: 20px;
  }
  
  .checkbox-label {
    font-size: 0.875rem;
  }
}

.checkbox-size-large {
  .checkbox-wrapper {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
  
  .checkbox-icon {
    width: 28px;
    height: 28px;
  }
  
  .checkbox-label {
    font-size: 1.125rem;
  }
}

// Label
.checkbox-label {
  font-size: 1rem;
  color: $text-primary-light;
  line-height: 1.5;
  
  .checkbox-disabled & {
    color: $text-disabled-light;
  }
  
  .checkbox-label-end & {
    margin-left: 0.5rem;
  }
  
  .checkbox-label-start & {
    margin-right: 0.5rem;
  }
  
  .checkbox-label-top & {
    margin-bottom: 0.25rem;
  }
  
  .checkbox-label-bottom & {
    margin-top: 0.25rem;
  }
}

// Dark theme overrides
@include interactive.dark-mode {
  .checkbox-label {
    color: $text-primary-dark;
  }
  
  .checkbox-disabled .checkbox-label {
    color: $text-disabled-dark;
  }
}

.checkbox-required {
  color: $error-color;
  margin-left: 0.25rem;
}
